body {
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  color: rgb(79, 129, 199, 0.9);
  background-image: url(https://grand-vacherin-42ce97.netlify.app/img/background-img.jpg);
}
.app-wrapper {
  display: block;
  margin: 80px auto;
  max-width: 700px;
}
.app {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

  border-radius: 15px;
  background-color: #fffdfb;
  padding: 20px;
}
.overview {
  margin-bottom: 40px;
}
h1 {
  font-weight: bolder;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
small {
  color: white;
}
.col-1 img {
  width: 60px;
}
.temp {
  font-size: 64px;
  line-height: 1;
}
.units {
  position: relative;
  top: -32px;
}
#description {
  text-transform: lowercase;
}

#description:first-letter {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.active {
  color: white;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temp {
  font-size: 13px;
}
.button-search {
  background-color: rgb(79, 129, 199, 0.9);
}
